<body style="background: #fff">
 <div id="services">
<a href='http://centrpro.com' class='service_link left active' data-page='centrpro'>CentrPRO</a>
<a href='http://forum.centrpro.com' class='service_link left forum' data-page='forum'>Форум</a>
<a href='http://git.centrpro.com' class='service_link left git' data-page='git'>Гит</a>
<a href='http://id.centrpro.com/register' class='service_link right'>Регистрация</a><a href='http://id.centrpro.com/login' class='service_link right'>Вход</a>
</div>

  <div id="search">
  <div id="logo_small">
  <div class="name">
  <a href="/">
        <span class="C">C</span><span class="entr">e</span><span class="entr">n</span><span class="entr">t</span><span class="ENTR">r</span><span class="PRO">PRO</span><span class="country">&nbsp;</span> </a>
   </div>
</div>
    <input type="text" id="s-input"  autofocus>
    <div id="s-btn"><span></span></div>
  </div>


  <div id="content">

<script>
  (function() {
    var cx = '013753918506466391726:hw47szr5hae';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
  <gcse:search resultsUrl="search"></gcse:search>

  <script>
    var sInput = document.getElementById("s-input");
    var sBtn = document.getElementById("s-btn");
    sInput.onkeypress = function(ev) {
      if (13 == ev.keyCode) {
        sBtn.click();
        return false;
      }

    };
    sBtn.onclick = function() {
      window.location.href = '/search?q=' + sInput.value;
    };

    window.onload = function() {
      var para = location.search.substr(1);
      if (para.length > 0) {
        var arr = para.split(/[&=]/);
        for (var i = 0; i < arr.length; i += 2) {
          if ('q' == arr[i]) {
            sInput.value = decodeURIComponent(arr[i+1]);
            document.title = sInput.value + ' | search@centrpro';
            break;
          }
        }
      }
    }
  </script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter29203630 = new Ya.Metrika({id:29203630,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>

<noscript><div><img src="//mc.yandex.ru/watch/29203630" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
